@keyframes menu-open {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(0)
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-100%)
  }
}

@keyframes search-open {
  from {
    transform: scaleX(0);
    opacity: 0
  }

  to {
    transform: scaleX(1);
    opacity: 1
  }
}

@keyframes search-close {
  from {
    transform: scaleX(1);
    opacity: 1
  }

  to {
    transform: scaleX(0);
    opacity: 0
  }
}

@keyframes fade {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}