.faq-wrap__list,
li {
  list-style-type: none
}

.ac-panel,
.hero__slider,
.questions__content {
  overflow: hidden
}

.faq-wrap,
.list,
.reset-list {
  list-style: none
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat-bold.woff2') format('woff2'), url('../fonts/montserrat-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat-extrabold.woff2') format('woff2'), url('../fonts/montserrat-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat-medium.woff2') format('woff2'), url('../fonts/montserrat-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Montserrat;
  src: local('montserrat-regular'), local('montserrat-regular'), url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat-semibold.woff2') format('woff2'), url('../fonts/montserrat-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

a {
  font-size: 0;
  color: inherit;
  text-decoration: none
}

img,
svg {
  max-width: 100%
}

h1,
h2,
h3,
h4,
input,
li,
option,
p,
select,
ul {
  margin: 0;
  padding: 0
}

.reset-btn {
  padding: 0;
  border: none;
  background-color: transparent
}

.reset-list {
  margin: 0;
  padding-left: 0
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  background-color: #f1f1f1
}

.container {
  max-width: 1920px;
  padding-left: 75px;
  padding-right: 75px;
  margin-left: auto;
  margin-right: auto
}

.burger,
.hidden,
.how-content-wrap {
  display: none
}

.page-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px
}

.page-3,
.text-style {
  line-height: 32px;
  font-style: normal
}

.page-3 {
  font-weight: 700;
  font-size: 24px
}

.text-style {
  font-weight: 400;
  font-size: 16px
}

.header-link,
.header__search-input {
  font-size: 18px;
  line-height: 22px;
  outline: 0
}

.header__search-form {
  position: absolute;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 70px;
  top: 6px;
  width: 539px;
  padding: 15px 13px 18px 30px;
  z-index: 14;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .12);
  box-shadow: 0 0 20px rgba(0, 0, 0, .12);
  border-radius: 24px;
  background: #fff;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right
}

.header__search-form.is-opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: search-open;
  animation-name: search-open;
  -webkit-animation-duration: .3s;
  animation-duration: .3s
}

.header__search-form.is-closed {
  -webkit-animation-name: search-close;
  animation-name: search-close;
  -webkit-animation-duration: .3s;
  animation-duration: .3s
}

.header__search-btn--submit {
  margin-right: 22px
}

.header__search-input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 14px;
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #cacaca;
  font-weight: 500
}

.header__search-input::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}

.header__search-input::-moz-placeholder {
  -moz-transition: opacity .3s;
  transition: opacity .3s
}

.header__search-input:-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}

.header__search-input::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}

.header__search-input::placeholder {
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s
}

.header__search-input:focus::-webkit-input-placeholder {
  opacity: 0
}

.header__search-input:focus::-moz-placeholder {
  opacity: 0
}

.header__search-input:focus:-ms-input-placeholder {
  opacity: 0
}

.header__search-input:focus::-ms-input-placeholder {
  opacity: 0
}

.header__search-input:focus::placeholder {
  opacity: 0
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer
}

.header {
  padding-top: 14px;
  padding-bottom: 14px;
  background: #fff;
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
  border-radius: 0 0 32px 32px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto
}

.hero__slide,
.how-content-wrap::after {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.header__logo {
  width: 100%;
  height: 100%;
  max-width: 225px;
  max-height: 72px;
  margin-right: auto
}

.header__logo,
.header__search-btn {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.header__menu,
.header__menu-wrap,
.header__navigation,
.how-content-wrap-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.header__navigation {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.header__menu-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.header__close-btn,
.header__search-btn {
  display: inline-block;
  margin-left: auto;
  max-width: 24px;
  max-height: 24px;
  color: #000;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  outline: 0;
  cursor: pointer
}

.header__close-btn:hover,
.header__search-btn:hover,
.tabs__btn:hover {
  color: #f90
}

.header-link:focus:not(:hover),
.header__close-btn:focus:not(hover),
.header__search-btn:focus:not(hover) {
  outline: #FF9900 solid 2px;
  outline-offset: 5px
}

.footer-links:active,
.header-link:active,
.header__close-btn:active,
.header__search-btn:active,
.tabs__btn:active {
  color: #e1670e
}

.header-link {
  position: relative;
  font-style: normal;
  font-weight: 600
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 2px;
  background-color: #f90;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s
}

.header-link:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1)
}

.header-link:active::after {
  color: #e1670e;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #e1670e
}

.header-item {
  margin-right: 85px;
  cursor: pointer
}

.header-item:last-child {
  margin-right: 260px
}

:root {
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: .4;
  --container-padding: 0px
}

.hero {
  margin-bottom: 43px
}

.hero__wrapper {
  position: relative;
  padding: 100px 80px
}

.hero__content {
  position: relative;
  z-index: 11;
  max-width: 837px;
  max-height: 596px;
  color: red
}

.hero__text,
.hero__title {
  font-style: normal;
  color: #fff
}

.hero__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #cacaca;
  border-radius: 32px
}

.hero__slide--one {
  background-image: url(../img/slide_1.webp)
}

.hero__slide--two {
  background-image: url(../img/slide_2.webp)
}

.hero__slide--three {
  background-image: url(../img/slide_3.webp)
}

.hero__slider-pegination .swiper-pagination {
  bottom: 20px
}

.hero__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  margin-bottom: 24px
}

.hero__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 90px
}

.hero-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #fff;
  padding: 25px 39px;
  background-color: #f90;
  border-radius: 16px
}

.about-card-1,
.about-cards-wrap {
  display: -webkit-box;
  display: -ms-flexbox
}

.btn-about,
.card-1-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #fff
}

.page-about {
  margin-bottom: 20px
}

.about-cards-wrap {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 128px
}

.about-text {
  max-width: 1235px;
  margin-bottom: 50px
}

.about-column-1,
.btnhow {
  margin-right: 32px
}

.about-column-2 {
  max-width: 870px
}

.about-card-1 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-width: 868px;
  width: 100%;
  border-radius: 32px;
  min-height: 622px;
  background-image: url(../img/about.webp);
  background-size: cover;
  background-position: center
}

.card-1-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 32px
}

.card-1-text {
  max-width: 433px;
  line-height: 32px
}

.btn-about {
  display: inline-block;
  line-height: 20px;
  outline: #FF9900 solid 3px;
  border-radius: 16px;
  padding: 17px 36px;
  cursor: pointer
}

.about-card,
.tabs__btns-list {
  display: -webkit-box;
  display: -ms-flexbox
}

.about-card {
  display: flex;
  max-width: 870px;
  padding: 65px 90px 59px 60px;
  border: 1px solid #cacaca;
  background-size: 0;
  border-radius: 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.cards-svg {
  display: inline-block;
  min-height: 165px;
  min-width: 190px;
  padding: 0;
  margin-right: 50px
}

.cards-svg svg {
  min-width: inherit;
  min-height: inherit
}

.about-card:not(:last-child) {
  margin-bottom: 32px
}

.about-card-page {
  line-height: 29px;
  margin-bottom: 8px
}

.how-page-2,
.tabs__btns-list {
  font-weight: 400;
  line-height: 22px;
  font-style: normal
}

.how-container {
  margin-bottom: 110px
}

.how-page-2 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 66px
}

.tabs__btns-list {
  display: flex;
  margin-bottom: 45px;
  max-width: 455px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.faq_just,
.tabs-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox
}

.page-3-tabs {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px
}

.tabs__btn-item {
  font-size: 18px
}

.btn-dog,
.tab-btn-1 {
  padding: 20px 38px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 16px
}

.footer-links:focus:not(hover),
.tabs__btn:focus:not(hover) {
  outline: #FF9900 solid 2px;
  outline-offset: 4px
}

.btnhow:last-child,
.tabs__btn-item:last-child {
  margin-right: 0
}

.how-content-wrap::after {
  content: "";
  max-width: 870px;
  min-height: 460px;
  width: 100%;
  border-radius: 32px;
  background-color: #cacaca;
  margin-top: 10px
}

.how-content-wrap-first::after {
  background-image: url(../img/how_1.webp)
}

.how-content-wrap-second::after {
  background-image: url(../img/how_2.webp)
}

.how-content-wrap-third::after {
  background-image: url(../img/how_3.webp)
}

.how-content-wrap-fourth::after {
  background-image: url(../img/how_4.webp)
}

.how-content {
  max-width: 758px;
  width: 100%;
  margin-right: 142px
}

.how-text-block {
  margin-bottom: 18px
}

.tabs-link-wrap {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -32px
}

.tab-btn-1 {
  color: #fff;
  background: #f90;
  font-weight: 700
}

.btn-dog {
  font-weight: 400;
  outline: #000000 solid 1px
}

.faq {
  margin-bottom: 99px
}

.faq-title {
  margin: 0 0 32px
}

.faq-wrap {
  padding: 0
}

.faq-wrap__list {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer
}

.faq_just {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.faq-wrap__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

.faq-wrap__button {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  border: none;
  padding: 0;
  background-color: inherit
}

.faq-wrap__button:focus-visible {
  outline: 0
}

.faq-wrap__button:focus+.faq-wrap__title,
.faq-wrap__list:hover .faq-wrap__title,
.footer-links:hover {
  color: #f90
}

.faq-wrap__button-first::before {
  border-top: 1px solid #cacaca
}

.faq-wrap__button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-bottom: 1px solid #cacaca
}

.faq-wrap__button:focus::before,
.faq-wrap__button:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-top: 1px solid #f90;
  border-bottom: 1px solid #f90;
  cursor: pointer
}

.faq-wrap__button-svg {
  min-width: 50px;
  min-height: 50px;
  background-color: inherit;
  fill: #cacaca
}

.faq-wrap__button-svg path {
  fill: #000000
}

.faq-wrap__button:focus .faq-wrap__button-svg,
.faq-wrap__button:hover .faq-wrap__button-svg {
  fill: #ff9900
}

.faq-wrap__button:focus .faq-wrap__button-svg path,
.faq-wrap__button:hover .faq-wrap__button-svg path {
  fill: #fff
}

.faq-wrap__button:active .faq-wrap__button-svg path {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: -webkit-transform .6s;
  transition: transform .6s;
  -o-transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

.questions__content-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s 0.3s, visibility .5s 0.3s;
  -o-transition: opacity .5s 0.3s, visibility .5s 0.3s;
  transition: opacity .5s 0.3s, visibility .5s 0.3s
}

.is-active .questions__content-wrap {
  opacity: 1;
  visibility: visible
}

.is-active .faq-wrap__button::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg)
}

.contact {
  background-color: #000
}

.footer-block {
  color: #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px
}


.footer-navigation {
  margin-right: 115px
}

.footer-logo {
  width: 100%;
  margin-bottom: 16px
}

.footer-links {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  white-space: nowrap
}

.footer-form__input,
.footer-form__input-big {
  font-weight: 400;
  line-height: 32px;
  width: 100%;
  color: #cacaca;
  background: #414141;
  border-radius: 16px;
  outline: 0;
  font-size: 16px;
  cursor: pointer
}

.footer-list {
  margin-bottom: 90px;
  padding: 0
}

.ok {
  margin-right: 20px;
  cursor: pointer
}

.vk {
  cursor: pointer
}

.ok:hover path,
.vk:hover path {
  fill: #FF9900
}

.ok:focus path,
.vk:focus path {
  fill: #666666;
  outline: #FF9900 solid 2px
}

.ok:active path,
.vk:active path {
  fill: #E1670E
}

.footer-request {
  max-width: 570px
}

.footer-page {
  margin-bottom: 25px
}

.footer-form__input {
  font-style: normal;
  padding: 14px 0 14px 24px;
  margin-bottom: 25px;
  border: none
}

.footer-form__input-big {
  padding: 14px 0 104px 24px;
  margin-bottom: 32px;
  border: none
}

.footer-form__input-big:active,
.footer-form__input-big:focus,
.footer-form__input-big:hover,
.footer-form__input:active,
.footer-form__input:focus,
.footer-form__input:hover {
  background: #666;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s
}

.btn-click:focus,
.btn-click:hover {
  background: #ffb84d;
  outline: 0
}

.footer-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  display: block;
  background: #f90;
  border-radius: 16px;
  padding: 19px 52px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none
}

.ac-panel,
.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px
}

.footer-text {
  max-width: 363px;
  vertical-align: middle;
  padding-bottom: 87px;
  padding-top: 87px
}

.btn-click:hover {
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s
}

.btn-click:active {
  outline: 0;
  background: #e1670e
}

.btn-how:focus,
.btn-how:hover {
  background: #666;
  color: #fff;
  outline: 0
}

.btn-how:hover {
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s
}

.btn-how:active {
  background: #000;
  color: #fff;
  outline: 0
}

.ac-panel {
  max-width: 1000px;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease
}

.accordion--active .ac-panel {
  visibility: visible
}

.list {
  padding: 0
}

.accordion__heading {
  margin: 0
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px
}